<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Burke Mamlin</string>
	<key>Builder Version</key>
	<string>11601.6.17</string>
	<key>CFBundleDisplayName</key>
	<string>Tab Stack</string>
	<key>CFBundleIdentifier</key>
	<string>com.burkeware.safari.tabstack</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Description</key>
	<string>Moves current tab to the left, so most recently used tabs are on the left of the tab list.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://bmamlin.github.io/tabstack.safariextension/updates.plist</string>
	<key>Website</key>
	<string>https://github.com/bmamlin/tabstack.safariextension</string>
</dict>
</plist>
